<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles.css">
    <title>Prion Predictor</title>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" type="text/javascript"></script>
<script>
    var socket = io();
    function readText(){
        document.getElementById('paragraph').innerHTML = "";
        letters = "ARNDCEQGHILKMFPSTWYV";
        var value = document.getElementById('genomeInput').value.toUpperCase();
        var return_str = "Your Sequence: ";
        var valid_input = (value.length != 0)
        for (var i = 0; i < value.length; i++){
            curr_char = value.substring(i, i+1)
            if (letters.indexOf(curr_char) == -1){
                valid_input = false
                break;
            } else {
                if (i % 50 == 0){
                    return_str += "<br>"
                }
                return_str += curr_char
            }
        }
        if (!valid_input){
            return_str = "Invalid Sequence Input"
            document.getElementById('server_response').innerHTML = "";
        }
        else{
            socket.emit('new sequence', return_str);
        }
        document.getElementById('paragraph').innerHTML = return_str;
        document.getElementById('genomeInput').value = '';

    }
    socket.on('sequence return string' ,function(msg){
        el = document.getElementById('server_response');
        el.innerHTML = msg;
    })
</script>

    <h1>Prion Predictor</h1>
    <p>Predicts whether given genome sequences are likely to be
    prion-forming sequences</p>
    <br><br>
    Input Genome Sequence:<br><br>
    <input type= "text" value = "" id = "genomeInput">
    <br><br>
    <button class = "button"
            onclick="readText()">
        Run Prediction
    </button>
    <p id = "paragraph"></p>
    <p id = "server_response"></p>
</body>
</html>
